﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/MasterPage.master" CodeBehind="ForgotPassword.aspx.vb" Inherits="SqlExcelOutput.Web.ForgotPassword" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <div id ="row"  style="margin-top: 75px;">
   <h2>     <asp:Label runat="server" id="lblMessage"></asp:Label></h2>
    </div>
</asp:Content>
